.rightBar {
  flex: 3;
  height: calc(100vh - 4em);
  overflow: scroll;
  position: sticky;
  top: 4em;
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

    .menu {
      width: 100%;
      background-color: rgb(240, 250, 250);
      // box-shadow: -.2px -.2px 4px lightgray;
      padding: 1em;

      > span {
        color: rgb(147, 141, 141);
      }

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .8em;
        margin: 1em 0;
        position: relative;

        .user-info {
          display: flex;
          align-items: center;
          gap: .8em;

          img {
            width: 2em;
            height: 2em;
            border: 1px solid blue;
            border-radius: 50%;
            object-fit: cover;
          }

          p > span {
            color: lightgray;
          }  
        }

        .buttons {
          display: flex;
          align-items: center;
          gap: .8em;

          button {
            border: none;
            padding: .4em;
            color: white;
            cursor: pointer;
            font-weight: bold;

            &:first-child {
              background-color: #5271ff;
            }
  
            &:last-child {
              background-color: #f0544f;
            }
          }
        }

        .online {
          width: .6rem;
          height: .6rem;
          border-radius: 50%;
          background-color: limegreen;
          position: absolute;
          left: 1.5rem;
          top: 0;
        }
      }
    }
  }
}